.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
}

.headerLogo {
  font-weight: 700;
  font-size: 20px;
}

.headerActions {
  display: flex;
  column-gap: 20px;
}
